<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="apm.agropathogenmeter.AgroPathogenMeterApp" android:installLocation="preferExternal">
	<uses-sdk android:targetSdkVersion="28" android:minSdkVersion="21" />
	<application android:label="AgroPathogenMeterApp.Android" android:icon="@mipmap/APMIconM"></application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-feature android:name="android.hardware.bluetooth" />
	<DeviceCapability Name="serialcommunication">
		<Device Id="any">
			<Function Type="name:serialPort" />
		</Device>
	</DeviceCapability>
  <DeviceCapability Name="usb">
    <Device Id="vidpid:0403 D182">
      <Function Type="classId:02 * *" />
      <Function Type="name:cdcControl" />
    </Device>
  </DeviceCapability>
</manifest>